* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }
  .video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
  }

  .video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  header {
    background-color: #a80fd67a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }

  header h1 {
    margin: 0;
    font-size: 24px;
  }

  header img {
    width: 100px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  nav {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  nav ul li {
    margin: 0 10px;
  }

  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.1s ease;
  }
  head {
    width: 100px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;


  }
  
  .container {
    width: 31.25em;
    background-color: #f8f8f8;
    padding: 5em 3.75em;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    border-radius: 0.7em;
    box-shadow: 0 1em 4em rgba(71, 50, 4, 0.3);
  }
  input,
  #submit {
    border: none;
    outline: none;
    display: block;
  }
  input {
    width: 100%;
    background-color: transparent;
    margin-bottom: 2em;
    padding: 1em 0 0.5em 0.5em;
    border-bottom: 2px solid #202020;
  }
  #submit {
    position: relative;
    left: 0;
    font-size: 1.1em;
    width: 7em;
    background-color: #f331b658;
    padding: 0.8em 0;
    margin-top: 2em;
    border-radius: 0.3em;
  }
  #message-ref {
    font-size: 0.9em;
    margin-top: 1.5em;
    color: #34bd34;
    visibility: hidden;
  }
  /* CSS Styles */

 

  

 