/* CSS Styles */


* {
    box-sizing: border-box;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .video-background {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -1;
  }

  .video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  header {
    background-color: #a80fd67a;
    color: #ffffff;
    padding: 20px;
    text-align: center;
  }

  header h1 {
    margin: 0;
    font-size: 24px;
  }

  header img {
    width: 100px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
  }

  nav {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }

  nav ul li {
    margin: 0 10px;
  }

  nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    transition: transform 0.1s ease;
  }

  nav ul li a:hover {
    transform: translate(-5px);
  }
  .category-buttons {
    display: flex;
    justify-content: center;
    margin: 250px 200px;
  }
 

  @media (min-width: 240px)
   {
    /* CSS rules for screens up to 768px */
    /* This can be used for mobile devices or smaller screens */

  .category-button {
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin: 0 15px;
    padding: 15px 25px;
    background-color: #f2a1c6;
    color: #ffffff;
    border: none;
    border-radius: 25px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease;
    flex:1 1 200px;
    flex-wrap: wrap;
    justify-content: center ;
  }
}

  .category-button:hover {
    background-color: #c26fa1;
  }

img.banner-photo {
  width: 100%;
  padding: 0%;
  justify-content: center;
  max-height: 500px;
  padding-left: 30px;
  
  padding-right: 1.5%;
}
.new-arrivals-button {
  display: flex;
  flex-direction: column;
  font-family: italic;
  text-align: center;
  justify-content: center;
  margin-left: 45%;
  margin-right: 40%;
  background-color: #f76bd9c1;
  color: #ffffff;
  padding: 12px 24px;
  font-size: 25px;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  
      
}

.new-arrivals-button:hover {
  background-color: #591449;
}









  